body {
    font-size: 14px;
}

ul,
li,
dl,
dt,
dd {
    display: block;
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.none {
    display: none;
}

.cityPickerWrapper {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    .cityPicker {
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .container {
        position: relative;
    }
}

.loan_jm1 {
    width: 94%;
    margin: 0 auto;
}

.loan_jm_spa1 {
    width: 39%;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    color: #666;
    display: block;
    float: left;
}

.loan_jm_l1 {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 40px;
}

.wbk_srn {
    width: 57%;
    height: 40px;
    border: 1px solid #ccc;
    background: #FFF;
    float: left;
    padding-left: 3%;
    line-height: 40px;
    font-size: 1.1em;
    background-size: 45%;
    background-position: center;
    background: #fff;
}

.wbk_srn b {
    width: 30px;
    height: 40px;
    border: 1px solid #ccc;
    background: #FFF;
    float: left;
    padding-left: 3%;
    line-height: 40px;
    font-size: 1.1em;
}


/*显示点击是哪个字母*/

.showLetter {
    display: none;
    position: fixed;
    z-index: 999;
    width: 80px;
    height: 80px;
    line-height: 80px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

.showLetter span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}


/*城市弹层*/

.letter {
    position: fixed;
    z-index: 99;
    right: 0;
    top: 90px;
    display: flex;
    flex-direction: column;
    width: 40px;
    min-height: -webkit-calc(100% - 90px);
    text-align: center;
    font-size: 14px;
    li {
        flex: 1;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.letter {
    list-style-type: none;
}

.letter li a {
    text-decoration: none;
    color: #777;
    font-size: 18px;
}

.cityList-wrap {
    margin-top: 0.7rem;
}

.citys {
    overflow: hidden;
    padding: 20px 0 20px 20px;
    width: 86%;
}

.city-top {
    display: none;
    padding: 20px 80px 20px 20px;
    background: #f3f8fb;
    .hot-city {
        margin-top: .4rem;
    }
    h3 {
        margin-bottom: 0.2rem;
        color: #333;
    }
    .city {
        display: inline-block;
        width: 1.2rem;
        height: .5rem;
        line-height: .5rem;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ddd;
        background: #fff;
        margin: 0 0.2rem 0.2rem 0;
        color: #777;
    }
}

.city-list {
    width: 100%;
}

.city-list .city-letter {
    font-size: 20px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8ecf1;
    width: 100%;
}

.city-list p {
    color: #777;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e8ecf1;
    font-size: 14px;
    cursor: pointer;
}

.UISelect {
    margin-top: 5px
}

.city-header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    background: #51b401;
    z-index: 99;
    text-align: center;
    color: #fff;
    font-size: 14px;
    transition: all .5s;
    &.active {
        transform: translate3d(-40px, 0, 0);
    }
    #backPage {
        width: .8rem;
        height: .55rem;
        line-height: .55rem;
        text-align: center;
    }
    .input-search {
        flex: 1;
        height: 0.55rem;
        line-height: 0.55rem;
        border: none;
        -webkit-appearance: none;
        border-radius: 4px;
        margin-right: .3rem;
        text-indent: 10px;
    }
    .cancel {
        position: absolute;
        right: -39px;
        width: 40px;
        height: 100%;
        text-align: left;
        background: #51b401;
    }
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
}